*{
  margin: 0;
}

.nav-bar{
  background-color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: #dddddd;
}
.nav-bar-image{
  object-fit: contain;
  align-items: center;
  padding-top: 15px;
  padding-left: 15%;
  padding-bottom: 5px;
}
.login-button-before-posts{
  
}

.Post{
  background-color: #ffffff;
  margin-top: 22px;
  margin-left: 15%;
  margin-bottom: 60px;
  max-width: 700px;
  border: 1px solid;
  border-color: #dddddd;
}

.avatar{
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.post-user-name-top{
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.user-image{
  padding-bottom: 10px;
  object-fit: contain;
  width: 100%;
}

.post-user-name-bottom{
  padding-bottom: 15px;
  padding-left: 10px;
  font-weight: normal;
}

.post-description-name{
  padding-right: 5px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  object-fit: contain;
  text-align: center;
}
.insta-logo-login{
  padding-left: 25%;
}
.username-login{
  margin-top: 20px;
  margin-bottom: 5px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #dddddd;
  border-radius: 5px;
}
.pass-login{
  margin-bottom: 20px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #dddddd;
  border-radius: 5px;
}
.login-button{
  padding-top: 10px;
  padding-bottom: 10px;
}
.forgot-pass{
  margin-top: 25px;
  font-size: x-small;
}
.no-account{
  padding-top: 2px;
}
.signup-instead{
  font-size: x-small;
}