*{
  margin: 0;
}

.nav-bar{
  background-color: #ffffff;
  border-bottom: 1.5px solid;
  border-bottom-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-bar-image{
  object-fit: contain;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
.app-login-container{
  display: flex;
  flex-direction: column;
}
.app-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-bar{
  padding-top: 10px;
}
.search-nav-buttons{
  display: flex;
  flex-direction: row;
}

.Post{
  margin-left: 10%;
  object-fit: contain;
  position: relative;
  background-color: #ffffff;
  margin-top: 22px;
  margin-bottom: 60px;
  max-width: 700px;
  border: 1.5px solid;
  border-color: #dddddd;
}

.avatar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.avatar-left{
  display: flex;
  flex-direction: row;
}
.avatar-right{
  padding-top: 7px;
}
.post-user-name-top{
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 16px;
}
.user-image{
  padding-bottom: 5px;
  object-fit: contain;
  width: 100%;
}

.post-user-name-bottom{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-weight: normal;
}

.post-description-name{
  padding-right: 5px;
}
.modal-insta-logo{
  display: flex;
  flex-direction: row;
  object-fit: contain;
  justify-content: center;
}

.signup-form{
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid;
  border-color: #999;
  border-radius: 5px;
}

.insta-logo-login{
  margin-top: 40%;
  padding-bottom: 40px;
}
.signup-page{
  display: flex;
  flex-direction: row;
  padding-top: 8%;
}
.username-login{
  margin-top: 20px;
  margin-bottom: 5px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #dddddd;
  border-radius: 5px;
}
.email-login{
  margin-bottom: 5px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #dddddd;
  border-radius: 5px;
}
.pass-login{
  margin-bottom: 20px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #dddddd;
  border-radius: 5px;
}

.signin-button{
  padding: 10px;
}
.login-button{
  padding-top: 20px;
  padding-bottom: 10px;
}
.forgot-pass{
  margin-top:  30%;
  margin-bottom: 3px;
  font-size: x-small;
}
.no-account{
  padding-top: 2px;
}
.signup-instead{
  font-size: x-small;
  padding-bottom: 20px;
}
.i-account{
  margin-top: 15%;
  margin-bottom: 5%;
}
.instagram-embed-flex{
  display: flex;
  flex-direction: column;
}
.instagram-embed{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 60px;
  padding-right: 20px;
}

.embed-username{
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding-left: 10px;
}
.embed-user{
  padding-top: 3px;
}
.follow-by{
  color: #999;
  font-size: x-small;
}
.embed-unit{
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  padding-right: 30px;
  justify-content: space-between;
}
.suggestions{
  padding-left: 5px;
  font-size: small;
  color: #999999;
  padding-top: 30px;
  padding-bottom: 20px;
}
.follow-me{
  padding-top: 10px;
  margin-left: 40px;
  font-size: small;
  color: #0295f6;
}
.one-flex-unit{
  display: flex;
  flex-direction: row;
}
.page-buttons{
  display: flex;
  flex-direction: row;
}
.nav-buttons{
  padding-top: 10px;
  padding-right: 7px;
}
.menu {
  display: flex;
  width: 200px;
  flex-direction: column;
  background: #ffffff;

}
.settings-menu {
  cursor: pointer;
  height: 30px;
  padding: 5px;
}
.settings-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.menu-content{
  padding-top: 5px;
  padding-left: 10px;
}
.settings-menu:hover {
  color: #999;
}
.embed-username-1{
  padding-top: 10px;
}
.follow-button-1{
  padding-top: 10px;
}
.settings-menu-avatar{
  padding-top: 4px;
  padding-left: 4px;
}
.post-buttons{
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}
.post-button-collection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.last-post-button{
  padding-right: 5px;
}
.telegram-post-icon{
  padding-left: 3px;
  padding-top: 3px;
}
.comment-post-icon{
  padding-top: 4px;
  padding-left: 4px;
}
.logout-navbar-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comment-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid;
  border-color: #ddd;
  border-radius: 2px;
}
.post-input{
  border: none;
  flex: 1;
}
.comment-post-button{
  flex: 0;
}
.emoticon-button{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.user-post-comments{
  padding-left: 10px;
}
.post-comments{
  padding-top: 5px;
}
.view-comments{
  padding-bottom: 5px;
  font-size: small;
  color: #999999;
}
.menu-content-heart-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.heart-button{
  border: none;
  background-color: #ffffff;
}

.generated-comments{
  display: flex;
  flex-direction: row;
  font-size: 12px;
}